
__pycache__

log/*
!log/.gitkeep

out/*
!out/.gitkeep

res/*
!res/.gitkeep
!res/csv/
!res/json/
!res/mdl/
!res/mp4/

res/csv/*
!res/csv/.gitkeep

res/json/*
!res/json/.gitkeep

res/mdl/*
!res/mdl/.gitkeep

res/mp4/*
!res/mp4/.gitkeep

*.pt

commit.txt
